<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Root Profile</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('root_profile') }}">Music App(Root Profile)</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container mt-5">
        <h1>All Users</h1>

        <!-- Display usernames -->
        <div class="mb-3">
            <h2>Usernames</h2>
            <ul class="list-group">
                {% for user in users %}
                    <li class="list-group-item">{{ user.username }}</li>
                {% endfor %}
            </ul>
        </div>

        <!-- Display user locations by country -->
        <div>
            <h2>User Locations by Country</h2>
            {% set countries = {} %}
            {% for user in users %}
            {% set country = user.location.split(',')[-1].strip() %}
            {% set _ = countries.update({country: (countries.get(country) or []) + [user.username]}) %}
            {% endfor %}

            {% for country, usernames in countries.items() %}
                <h3>{{ country }}</h3>
                <ul class="list-group">
                    {% for username in usernames %}
                        <li class="list-group-item">{{ username }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>

        <h2>Songs</h2>
        <ul>
        {% for song in song %}
            <li>
                <a href="{{ url_for('song_details', song_id=song.id) }}">{{ song.song_name }} - {{ song.artist_name }}</a>
            </li>
        {% endfor %}
    </ul>
    </div>

     <!-- Bootstrap JS and dependencies -->
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.9/dist/umd/popper.min.js" integrity="sha384-OJ3+qF2zVlX91YBHg1jU8p1BiVE6OWZViA/h6XZsFK2J8hVfFHLW1su7DeFLJ70" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 
</body>
</html>
